<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa món ăn</title>
</head>
<body>
    <h2>Chỉnh sửa món ăn</h2>
    
    <form th:object="${dish}">
        <label>Tên món:</label>
        <input type="text" th:field="*{name}" />
        <br/><br/>
        
        <label>Nhóm món ăn:</label>
        <select th:field="*{category}">
            <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>
        </select>
        <br/><br/>
        <button type="submit">Cập nhật</button>
    </form>
</body>
</html>
